setuptools
wheel
pycryptodomex
pywin32; sys_platform == 'win32'
pymem
silk-python
pyaudio
requests
pyahocorasick
lz4
blackboxprotobuf
lxml
dbutils
psutil
pymem
pydantic==2.7.0
fastapi
uvicorn
python-dotenv
smart_open[s3]
boto3
botocore
sqlalchemy
sqlglot